<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.samknows.fcc"
  android:versionCode="153"
	android:versionName="1.53">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17" />

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.INTERNET" />
    <!--  <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="com.samknows.fcc.permission.MAPS_RECEIVE"
		android:protectionLevel="signature" />
	<uses-permission android:name="com.samknows.fcc.permission.MAPS_RECEIVE" />
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />


	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	

	<application android:name="FCCApplication"
		android:icon="@drawable/icon" android:theme="@style/ApplicationStyle"
		android:label="@string/app_name">


		<activity android:name="com.samknows.fcc.activity.FCCSystemInfoActivity"
			android:label="@string/activity_info_name" android:screenOrientation="portrait">
		</activity>

		<activity android:name="com.samknows.measurement.activity.SamKnowsLogin"
			android:label="@string/activity_info_name" android:screenOrientation="portrait">
		</activity>
		<activity android:name="com.samknows.measurement.activity.TestResultsActivity"
			android:label="@string/activity_test_results_name"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name="com.samknows.measurement.activity.TestResultsTabActivity"
			android:label="@string/activity_test_results_name"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name="com.samknows.measurement.activity.SamKnowsInitialSettings"
			android:screenOrientation="portrait">
		</activity>

		<activity android:name="com.samknows.fcc.activity.FCCMainAndTermsAndConditionsActivity"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
	
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="samknows" />
			</intent-filter>

		</activity>

		<activity android:name="com.samknows.measurement.activity.SamKnowsRegister"
			android:screenOrientation="portrait">
		</activity>

		<activity android:name="com.samknows.measurement.activity.SamKnowsResetPassword"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name="com.samknows.measurement.activity.SamKnowsRecoverPassword"
			android:screenOrientation="portrait">
		</activity>

		<activity
		    android:launchMode="singleTask"
			android:name="com.samknows.fcc.activity.FCCMainResultsActivity"
			android:screenOrientation="portrait">
		</activity>


		<activity
			android:name="com.samknows.fcc.activity.FCCRunningTestActivity"
			android:screenOrientation="portrait">
		</activity>

		<activity android:name="com.samknows.fcc.activity.FCCAboutActivity"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name="com.samknows.fcc.activity.FCCTermsOfUseActivity"
			android:screenOrientation="portrait">
		</activity>

		<activity android:name="com.samknows.fcc.activity.FCCActivationActivity"
			android:screenOrientation="portrait">
		</activity>

		<activity android:name="com.samknows.fcc.activity.FCCMapActivityUnused"
			android:screenOrientation="portrait">
		</activity>

		<activity android:name="com.samknows.fcc.activity.FCCPreferenceActivity"
			android:label="@string/activity_pref_name" android:screenOrientation="portrait">
			<!--  the preferences theme looks wrong in the top area for Android 2.3.3 - so rely on the preferences style supplied by the system... -->
			<!--   android:theme="@style/PreferencesTheme"> -->
			
		</activity>

		<service android:name="com.samknows.measurement.MainService" />
		<service android:name="com.samknows.measurement.NetUsageService" />
		<service android:name="com.samknows.measurement.SamKnowsLoginService" />

		<receiver android:name="com.samknows.measurement.StartupReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.samknows.measurement.PowerReceiver">
			<intent-filter>
				<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver>
		<meta-data android:name="com.google.android.maps.v2.API_KEY"
			android:value="AIzaSyDn7BqOmJxn6WBiao32nbrCKxpoS_tfh7w" />
		
		<meta-data android:name="com.crashlytics.ApiKey" android:value="dd477e7baf9c47c9aadb6e29bb7ac545c607c0a5"/>

	</application>

</manifest>
